p {
  background-color: #eee;
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  counter-increment: omar;
}

/* p::before {
  content: counter(omar);
  background-color: red;
  padding: 20px 25px;
  position: absolute;
  left: -55px;
  top: 0;
  color: white;
  font-weight: bold;
} */

p::before {
  content: counter(omar);
  background-color: red;
  width: 50px;
  height: 100%;
  position: absolute;
  left: -50px;
  top: 0;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

p::after {
  content: "";
  background-color: red;
  height: 100%;
  width: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
