p {
  background-color: #eee;
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  border-left: 5px solid red;
}

p::before {
  content: attr(data-person);
  position: absolute;
  left: -125px;
  top: 0;
  padding: 20px;
  background-color: #eee;
}

p::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent red transparent transparent;
  margin-top: -10px;
}
