/* div {
  background-color: #eee;
  width: 350px;
  margin: 0 auto;
  height: 75px;
  text-align: center;
  line-height: 70px;
  position: relative;
}

div:first-letter {
  background-color: red;
  padding: 0 10px;
  position: absolute;
  float: left;
  margin-top: 10px;
  margin-left: -10px;
} */

/* div {
  background-color: #ccc;
  padding: 20px;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  position: relative;
}

div::first-letter {
  background-color: red;

  padding: 10px;
  float: left;
  top: 50%;
  margin-left: -35px;
  margin-top: -10px;
} */

div {
  background-color: #eee;
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  position: relative;
}

div::first-letter {
  background-color: red;
  padding: 5px 10px;
  position: absolute;
  margin-left: -42px;
  margin-right: 40px;
}
