.element {
  background-color: #eee;
  width: 400px;
}

.element-1,
.element-3 {
  padding: 25px;
  margin: 30px 20px;
  font-weight: 500;
  font-size: 20px;
  outline: 20px solid #eee;
}

.element-1 {
  border-left: 10px solid red;
}
.element-2 {
  visibility: hidden;
}
.element-3 {
  border-left: 10px solid green;
}
