* {
  box-sizing: border-box;
}

.parent {
  width: 550px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.parent::before {
  content: "";
  width: 2px;
  height: 92%;
  background-color: cornflowerblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.parent::after {
  content: "or";
  width: 30px;
  height: 30px;
  background-color: cornflowerblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.div-1,
.div-2 {
  background-color: #eee;
  width: 45%;
  padding: 10px;
}

.div-1 .button {
  background-color: cornflowerblue;
  padding: 10px 20px;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: white;
}

.div-2 .button {
  background-color: cornflowerblue;
  padding: 10px 20px;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  border-radius: 6px;
  color: white;
}

.div-1 .circle {
  background-color: #ccc;
  width: 150px;
  height: 150px;
  text-align: center;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.div-2 .circle {
  background-color: #ccc;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
