* {
  box-sizing: border-box;
}

:root {
  --MainBackgroundColor: #eee;
  --mainColor: #ff5722;
  --circle: 50%;
  --MarginAuto: 40px auto;
}

.parent {
  background-color: var(--MainBackgroundColor);
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

.parent div {
  background-color: red;
  width: calc(94% / 3);
  padding: 10px;
  text-align: center;
}
