* {
  box-sizing: border-box;
}

.parent {
  background-color: #eee;
  width: 600px;
  height: 300px;
  padding: 10px;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.parent div {
  background-color: #607d8b;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: calc(95% / 3);
}

.two {
  align-self: flex-start;
  width: 50%;
}
