* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}

.wrapper div {
  background-color: #345455;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
