* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  height: 100vh;
  /* min-height: 100vh; */
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid div {
  background-color: rgb(20, 78, 82);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  text-align: center;
}

.one {
  grid-column: 1/ 5;
}
.two {
  grid-area: 2/1/6/2;
}
.four {
  grid-column: 3/5;
}
.five {
  grid-column: 2/4;
}
.ten {
  grid-column: span 3;
}
/* Responsive Design */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .one {
    grid-column: 1/ 5;
  }

  .two {
    grid-column: 1/ 5;
  }
  .three {
    grid-column: 1/ 5;
  }
  .four {
    grid-column: 1/ 5;
  }
  .five {
    grid-column: 1/ 5;
  }
  .six {
    grid-column: 1/ 5;
  }
  .seven {
    grid-column: 1/ 5;
  }
  .eight {
    grid-column: 1/ 5;
  }
  .nine {
    grid-column: 1/ 5;
  }
  .ten {
    grid-column: 1/ 5;
  }
}
