* {
  box-sizing: border-box;
}
div {
  margin: 20px auto;
  width: 600px;
  background-color: #eee;
  padding: 30px;
  position: relative;
  font-size: 20px;
  border-radius: 4px;
}

div::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #f44336 50%, #009688 50%);
}

.one {
  caret-color: red;
  outline: none;
}

.two,
.three {
  color: rgb(0 0 0 / 70%);
}
