div {
  margin: 20px;
  font-size: 30px;
}

.div-1 {
  font-family: "Open Sans";
  font-weight: 300;
}
.div-2 {
  font-family: "Cairo";
  font-weight: 700;
}
.div-3 {
  font-family: "Jomhuria", cursive;
  font-weight: 400;
  font-weight: bold;
}
