/* .............................................Start About................................................. */
.about {
  padding: 3rem 0.75rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.about .inside-about {
  padding: 0 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.about .inside-about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Left And Right */
.about .inside-about .container .left,
.about .inside-about .container .right {
  padding: 0 1.5rem;
  margin-top: 3rem;
  width: calc(100% / 2);
}

/* Start Left */
/* Start Header */
.about .inside-about .container .left h6 {
  position: relative;
  display: inline-block;
  color: #fea116;
  text-transform: uppercase;
  text-align: left;
}

.about .inside-about .container .left h6::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}
.about .inside-about .container .left h6::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
  display: none;
}

.about .inside-about .container .left h1 {
  margin-bottom: 1.5rem;
  font-size: calc(1.375rem + 1.5vw);
}
.about .inside-about .container .left h1 span {
  color: #fea116;
  text-transform: uppercase;
}
.about .inside-about .container .left p {
  margin-bottom: 1.5rem;
}
/* End Header */
/* Start Content */
.about .inside-about .container .left .box {
  padding-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;

  margin: 0 -0.5rem;
}
.about .inside-about .container .left .box .boxses {
  margin-top: 1rem;
  padding: 0 0.5rem;
  width: calc(100% / 3);
}
.about .inside-about .container .left .box .boxses .mini-box {
  padding: 0.25rem;
  border-radius: 2px;
  border: 1px solid #dee2e6;
}
.about .inside-about .container .left .box .boxses .mini-box .content {
  padding: 1.5rem;
  border-radius: 2px;
  border: 1px solid #dee2e6;
  text-align: center !important;
}
.about .inside-about .container .left .box .boxses .mini-box .content i {
  color: #fea116;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.about .inside-about .container .left .box .boxses .mini-box .content h2 {
  margin-bottom: 0.25rem;
  font-size: calc(1.325rem + 0.9vw);
}
.about .inside-about .container .left .box .boxses .mini-box .content p {
  margin-bottom: 0 !important;
}

.about .inside-about .container .left a {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
  padding: 1rem 3rem;
  margin-top: 0.5rem;
  background-color: #fea116;
  border-color: #fea116;
  display: inline-block;
  border-radius: 2px;
}
/* End Content */

/* End Left */

/* Start Right */
.about .inside-about .container .right .cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(1rem * -1);
  margin-right: calc(1rem / -2);
  margin-left: calc(1rem / -2);
}
.about .inside-about .container .right .cont .img {
  max-width: 100%;
  height: auto;
  padding-right: calc(1rem / 2);
  padding-left: calc(1rem / 2);
  margin-top: 1rem;
  width: 50% !important;
  border-radius: 2px;
}
.about .inside-about .container .right .cont .img-1,
.about .inside-about .container .right .cont .img-3 {
  text-align: right !important;
}
.about .inside-about .container .right .cont .img-2,
.about .inside-about .container .right .cont .img-4 {
  text-align: left !important;
}

.about .inside-about .container .right .cont .img-1 img {
  max-width: 100%;
  height: auto !important;
  width: 75% !important;
  margin-top: 25%;
}
.about .inside-about .container .right .cont .img-2 img {
  max-width: 100%;
  width: 100% !important;
  height: auto;
}
.about .inside-about .container .right .cont .img-3 img {
  max-width: 100%;
  height: auto;
  width: 50%;
}
.about .inside-about .container .right .cont .img-4 img {
  max-width: 100%;
  height: auto;
  width: 75%;
}
/* End Right */
/* ..............................................End About.................................................. */
/* For Animation When Load And Scroll */
.about .right .img {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.8s ease-in-out;
}

.about .right .img.show {
  opacity: 1;
  transform: scale(1);
}
/* End For Animation When Load And Scroll */

/* Counter */
.about h2 {
  font-size: 2rem;
  transition: all 0.3s ease;
}
