* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0f1724;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Parent container */
.parent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

/* Lines */
.line {
  height: 50px;
  width: 100%;
  border-radius: 6px;
  transition: all 0.8s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* ألوان طبيعية */
.line.one {
  background: #2e8b57;
  transform: translateX(150%);
}
.line.two {
  background: #87ceeb;
  transform: translateX(-150%);
}
.line.three {
  background: #ffdf5d;
  transform: translateX(150%);
}
.line.four {
  background: #a0522d;
  transform: translateX(-150%);
}
.line.five {
  background: #ff7f50;
  transform: translateX(150%);
}
.line.six {
  background: #4682b4;
  transform: translateX(-150%);
}
.line.seven {
  background: #deb887;
  transform: translateX(150%);
}
.line.eight {
  background: #708090;
  transform: translateX(-150%);
}

.parent:hover .line {
  transform: translateX(0);
}
