.parent {
  position: relative;
  margin: 250px auto;
  width: 150px;
  height: 95vh;
}
.parent div {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: all 0.8s ease;
  border-radius: 4px;
}

.main {
  background-color: cadetblue;
}

.top {
  background-color: red;
}
.bottom-left {
  background-color: green;
}
.bottom-center {
  background-color: black;
}
.bottom-right {
  background-color: blue;
}

.parent:hover .top {
  transform: translate(0px, -150px) rotate(45deg);
}
.parent:hover .bottom-left {
  transform: translate(-180px, 0px) rotate(45deg);
}
.parent:hover .bottom-center {
  transform: translate(0px, 150px) rotate(45deg);
}
.parent:hover .bottom-right {
  transform: translate(180px, 0px) rotate(45deg);
}
