div {
  background-color: #eee;

  width: 200px;
  height: 200px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  border-radius: 50%;
}

div::before {
  background-color: #e91e63;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  border: 10px solid;
  border-color: #e91e63 #e91e63 #e91e63 white;
}

div::after {
  background-color: #03a9f4;
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  z-index: -2;
  border-radius: 50%;
  border: 10px solid;
  border-color: #03a9f4 white #03a9f4 #03a9f4;
}
