/* Reset Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* For Button Scroll */
html {
  scroll-behavior: smooth;
}

/* Font Family For Specific Headers  */
h1,
h2,
h3,
.font-heading {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Font Family For  Headers  */
h4,
h5,
h6,
body {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* ................................................Header............................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
.sec-1 {
  background-color: #222429;
  margin-bottom: 3rem;
}

header {
  background-color: antiquewhite;
  height: 150px;
}

header .box-header {
  display: flex;
  align-items: center;
}

header .logo {
  background-color: #fb5b21;
  flex: 1;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo a {
  text-decoration: none;
  font-family: "Emblema One", system-ui;
}

header .logo a h1 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 3.3rem;
}

header nav {
  display: flex;
  flex-direction: column;
  flex: 3;
  color: white;
}

header nav .up-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #222429;
}

header nav .up-nav .email {
  margin-left: 3rem;
  color: #686a5d;
}
header nav .up-nav .email i {
  margin-right: 0.3rem;
  color: #fb5b21;
}

header nav .up-nav .tel {
  margin-right: 3rem;
  color: #686a5d;
}
header nav .up-nav .tel i {
  margin-right: 0.5rem;
  color: #fb5b21;
}

header nav .down-nav {
  background-color: #111111;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .ul {
  margin-left: 3rem;
  height: 110px;
  display: flex;
  align-items: center;
}

header .ul a:nth-child(1) {
  color: #fb5b21;
}

header .ul a {
  height: 110px;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: #bdbdbf;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

header .ul a:hover {
  color: #fb5b21;
}

header .ul #page::after {
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  border-left: 0.3em solid rgba(0, 0, 0, 0);
}

header .ul #page {
  position: relative;
}

header .ul #page .bu.hover {
  transform: rotateX(0deg);
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
}

header .ul #page .bu {
  display: block;
  visibility: hidden;
  top: 100%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
  transition: 0.5s;
  opacity: 0;

  position: absolute;
  left: 0;
  top: 110px;

  list-style: none;
  background-color: white;
  color: black;
  padding: 10px;
}

header .ul #page .bu li {
  font-size: 1rem;
}

header nav .down-nav .icon {
  margin-right: 10px;
}

header nav .down-nav span {
  padding-right: 10px;
}

header nav .down-nav .icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5rem;
  width: 100px;
}

header nav .down-nav .icon span i {
  border: 1px solid #bdbdbf;
  color: #bdbdbf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header nav .down-nav .icon span i:hover {
  background-color: #ccc;
  color: black;
}

header button span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org…dth='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 100px;
  height: 100px;
}

/* .............................................Header End............................................. */

/* ..............................................Section One............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
.sec-1 .container {
  padding: 3rem;
}
.sec-1 .container .mini-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.sec-1 .h-1 {
  width: calc(100% / 1);
}

.sec-1 .h-1 h1 {
  font-size: 7rem;
  text-align: center;
  font-family: "Emblema One", system-ui;
  padding: 0 rem;
  margin-top: 3rem;
  color: #bdbdbf;
}

.sec-1 .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.sec-1 .box-1,
.sec-1 .box-2,
.sec-1 .box-3 {
  width: calc(100% / 4);
  height: 500px;
}

.sec-1 .box-1,
.sec-1 .box-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.sec-1 .box-1 img {
  margin-bottom: 1rem;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  max-width: 100%;
  height: auto;
}

.sec-1 .box-1 .icon {
  height: 4.5rem;
  margin-bottom: 1rem;
}

.sec-1 .box-1 .icon i {
  font-size: 3rem;
}

.animate-up-down {
  position: relative;
  animation: animateUpDown 1s ease infinite;
}

/* Animation Up To Down For Arrows */

@keyframes animateUpDown {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

.sec-1 .box-1 .icon i,
.sec-1 .box-1 p {
  color: #bdbdbf;
}
.sec-1 .box-1 p {
  line-height: 1.6;
}

.sec-1 .box-2 {
  padding-left: 3rem;
  padding-right: 3rem;
  flex: 1;
}

.sec-1 .box-2 .img img {
  min-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.sec-1 .box-3 .icon i,
.sec-1 .box-3 p {
  color: #bdbdbf;
}
.sec-1 .box-3 p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.sec-1 .box-3 img {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  max-width: 100%;
  height: auto;
}

.sec-1 .box-3 .icon {
  height: 4.5rem;
  margin-bottom: 1rem;
}

.sec-1 .box-3 .icon i {
  font-size: 3rem;
}

/* .............................................Section One End......................................... */

/* ..............................................Section Two............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-2 {
  padding: 3rem;
}
.sec-2 .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sec-2 .container .left {
  flex: 2;
  padding: 0 3rem;
  display: flex;
}

.sec-2 .container .left .img-1 {
  width: 160px;
  height: 160px;
}

.animate-rotate {
  position: absolute;
  animation: animateRotate 8s linear infinite;
}
/* Animation For A Circle Above Photo */
@keyframes animateRotate {
  100% {
    transform: rotate(360deg);
  }
}

.sec-2 .container .left .box-img {
  min-height: 500px;
}

.sec-2 .container .left .img-2 {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  position: relative;
}

.sec-2 .container .right .top,
.sec-2 .container .right .center {
  flex: 1;
}
.sec-2 .container .right {
  flex: 3;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.sec-2 .container .right .top,
.sec-2 .container .right .center {
  margin-bottom: 1.5rem;
}

.sec-2 .container .right .top h5 {
  color: #fb5b21;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.25rem;
}
.sec-2 .container .right .top h1 {
  font-size: calc(1rem + 3.3vw);
  font-weight: 400;
  line-height: 1.2;
}

.sec-2 .container .right p {
  color: rgba(0 0 0/50%);
  line-height: 1.4;
  font-size: 1.1rem;
}

.sec-2 .container .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex: 5;
}

.sec-2 .container .bottom .box-1,
.sec-2 .container .bottom .box-2 {
  background-color: #f4f5f8;
  width: calc(95% / 2);
  border-radius: 0.5rem;
  padding: 1.5rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sec-2 .container .bottom .inside-box {
  display: flex;
  flex-direction: column;
}

.sec-2 .container .bottom .inside-box img {
  width: 80px;
  height: 80px;
  background-color: #fb5b21;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.sec-2 .container .bottom .inside-box h4 {
  font-size: calc(1.275rem + 0.3vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

/* .............................................Section Two End......................................... */

/* ............................................Section Three............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-3 {
  background-color: #222429;
  margin: 3rem 0;
  padding: 3rem;
}

.sec-3 .container {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sec-3 .container .box-1,
.sec-3 .container .box-2,
.sec-3 .container .box-3,
.sec-3 .container .box-4 {
  padding: 0 3rem;
  margin-top: 1.5rem;
  visibility: visible;
  animation-delay: 0.1s;
  animation-name: fadeIn;
}

.sec-3 .container .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: calc(100% / 4); */
}

.sec-3 .container .box .icon {
  width: 80px;
  height: 80px;
  background: #111111;
  margin-bottom: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3 .container .box .icon i {
  color: #fb5b21;
  font-size: calc(1.275rem + 0.3vw) !important;
  font-weight: bold;
}

.sec-3 .container .box .para {
  padding-left: 1.5rem;
  line-height: 1;
}
.sec-3 .container .box .para h5 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
}
.sec-3 .container .box .para h1 {
  color: #bdbdbf;
  margin-bottom: 0;
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 400;
  line-height: 1.2;
}

.omar {
  visibility: visible;
  animation-delay: 0.1s;
  animation-name: fadeIn;
}

/* ...........................................Section Three End......................................... */

/* ............................................Section Four............................................. */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-4 {
  padding: 3rem;
  position: relative;
  margin-bottom: 135px;
}

.sec-4 .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc (3rem * -1);
  margin-right: calc (3rem / -2);
  margin-left: calc (3rem / -2);
}

.sec-4 .container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 120px);
  top: 185px;
  left: 0px;
  z-index: -1;
  background: #222429;
}

.sec-4 .container .box-1,
.sec-4 .container .box-2,
.sec-4 .container .box-3 {
  padding-right: calc(3rem / 2);
  padding-left: calc(3rem / 2);
  margin-top: 3rem;
  width: calc(100% / 3);
}

.sec-4 .container .box {
  background: linear-gradient(#f4f5f8 50%, #222429);
  text-align: center;
  border-radius: 8px;
  padding: 3rem;
}

.sec-4 .container img {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  max-width: 100%;
}

.sec-4 .container h3 {
  font-size: calc(1.3rem + 0.6vw);
  margin: 1.5rem 0;
}

.sec-4 .container p {
  color: #f4f5f8;
  margin-bottom: 1rem;
}

.sec-4 .container a {
  letter-spacing: 1px;
  color: #fb5b21;
  text-decoration: none;
  transition: all 0.5s;
}

.sec-4 .container a:hover {
  color: #c9491a;
}

.sec-4 .container .disccount {
  text-align: center;
  padding-right: calc(3rem / 2);
  padding-left: calc(3rem / 2);
  margin: 3rem auto 0 auto;
}

.sec-4 .container .disccount h1 span {
  color: #fb5b21;
  font-size: calc(1.475rem + 2.7vw);
  line-height: 1.2;
}

.sec-4 .container .disccount h1 {
  color: #bdbdbf;
  margin-bottom: 1.5rem;
  font-size: calc(1.475rem + 2.7vw);
  line-height: 1.2;
}

.sec-4 .container .disccount a {
  color: white;
  font-family: "Emblema One", system-ui;
  transition: 0.5s;
  padding: 1rem 3rem;
  background-color: #fb5b21;
  border-color: #fb5b21;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 1rem;
  border-radius: 8px;
}

.sec-4 .container .disccount a:hover {
  color: #111111;
}

/* ...........................................Section Four End......................................... */

/* ............................................Section Five............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-5 {
  padding: 3rem 0;
}

.sec-5 .header {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.sec-5 .header h5 {
  color: #fb5b21;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.sec-5 .header h1 {
  font-size: calc(1.525rem + 2.85vw);
  line-height: 1.2;
}

.sec-5 nav {
  text-align: center;
}

.sec-5 .container ul {
  background-color: #222429;
  border-radius: 50rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
}

.sec-5 .container ul a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  width: 110px;
}

.sec-5 .container ul a.active {
  background-color: #fb5b21;
}

.sec-5 .container ul a#main,
.sec-5 .container ul a#launch,
.sec-5 .container ul a#dinner {
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}

.sec-5 .container .big-box.box,
.sec-5 .container .big-box-2.box,
.sec-5 .container .big-box-3.box {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.sec-5 .container .big-box-2 .box {
  display: none;
}
.sec-5 .container .big-box-3 .box {
  display: none;
}

.sec-5 .container .big-box .box.no-active {
  display: none;
}

.sec-5 .container .big-box-2 .box.active {
  display: flex;
}
.sec-5 .container .big-box-3 .box.active {
  display: flex;
}

.sec-5 .container .box {
  display: flex;
  flex-wrap: wrap;
}

.sec-5 .container .x {
  position: relative;
  width: calc(100% / 4);
}
.sec-5 .container .box img {
  transition: 0.5s;
  max-width: 100%;
  height: 100%;
}

.sec-5 .container .box img:hover {
  opacity: 0.7;
}
.sec-5 .container .box .para {
  background-color: #222429;
  border-radius: 50rem;
  color: #fb5b21;
  padding: 0.25rem 1rem;
  margin: 0 1.5rem 1.5rem 0;
  position: absolute;
  right: 0;
  bottom: 9px;
  margin: 0 1.5rem 1.5rem 0;
  cursor: pointer;
}

/* ...........................................Section Five End.......................................... */

/* ............................................Section Six.............................................. */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-6 {
  padding: 3rem;
}

.sec-6 .header {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.sec-6 .header h5 {
  color: #fb5b21;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.sec-6 .header h1 {
  font-size: calc(1.525rem + 3.3vw);
  line-height: 1.2;
}

.sec-6 .container {
  display: flex;
  flex-wrap: wrap;
}

.sec-6 .container .box {
  max-width: 100%;
  padding-right: calc(3rem / 2);
  padding-left: calc(3rem / 2);
  margin-top: 3rem;
  width: calc(100% / 3);
}

.sec-6 .container .box .mini-box {
  position: relative;
}

.sec-6 .container .box .mini-box .img {
  border-radius: 50%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.sec-6 .container .box .mini-box .img img {
  max-width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: 0.5s;
}

.sec-6 .container .box .mini-box .hover {
  position: absolute;
  top: calc(100% - 100px);
  bottom: 100px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(34, 36, 41, 0.9);
  transition: 0.5s;
  opacity: 0;
  border-top-left-radius: 50% 60% !important;
}

.sec-6 .container .box .mini-box:hover .hover {
  top: 0;
  opacity: 1;
}

.sec-6 .container .box .mini-box:hover img {
  margin-top: -50px;
  margin-bottom: 50px;
}

.sec-6 .container .box .mini-box .hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-6 .container .box .mini-box .hover a {
  color: #000;
  background-color: #f4f5f8;
  border-color: #f4f5f8;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  padding: 0.4rem 1rem;
  text-align: center;
  width: 38px;
  height: 38px;
  transition: 0.5s;
  border-radius: 50%;
}

.sec-6 .container .box .mini-box .bottom {
  height: 100px;
  width: 100%;
  background: rgba(34, 36, 41, 0.9);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.sec-6 .container .box .mini-box .bottom h5 {
  color: #f4f5f8;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.sec-6 .container .box .mini-box .bottom p {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #bdbdbf;
  font-size: 0.875em;
}

/* ...........................................Section Six End........................................... */

/* ..........................................Section Seven.............................................. */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-7 {
  margin: 3rem 0;
}

.sec-7 .container {
  display: flex;
  flex-wrap: wrap;
}

.sec-7 .container .left,
.sec-7 .container .right {
  width: calc(100% / 2);
}

.sec-7 .container .left .img {
  border-top-left-radius: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sec-7 .container .left .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-7 .container .right {
  background-color: #222429;
  padding: 3rem;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.sec-7 .container .right .header {
  margin-bottom: 3rem;
}

.sec-7 .container .right .header h5 {
  color: #fb5b21;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.sec-7 .container .right .header h1 {
  color: #bdbdbf;
  text-transform: capitalize;
  font-size: calc(1.525rem + 3.3vw);
  line-height: 1.2;
}

.sec-7 .container .right .box-para p i {
  color: #fb5b21;
  margin-right: 1rem;
  font-weight: 900;
}
.sec-7 .container .right .box-para p {
  color: #f4f5f8;
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 1.5rem;
}

.sec-7 .container .right .box-img {
  display: flex;
  align-items: center;
}

.sec-7 .container .right .box-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.sec-7 .container .right .box-img .content {
  padding-left: 1.5rem;
  color: #bdbdbf;
}
.sec-7 .container .right .box-img .content h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  text-transform: capitalize;
}

.sec-7 .container .right .box-img .content span {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.875em;
}

.sec-7 .container .right .button {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}

.sec-7 .container .right .button .button-1,
.sec-7 .container .right .button .button-2 {
  position: relative;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #fb5b21;
  font-size: 22px;
  border-radius: 45px;
  transition: 0.5s;
  cursor: pointer;
}

.sec-7 .container .right .button .button-1:hover,
.sec-7 .container .right .button .button-2:hover {
  color: #000;
}

.slides .slide-2 {
  display: none;
}

.slides .active {
  display: block !important;
}

.slides .no-active {
  display: none !important;
}

/* ..........................................Section Seven End.......................................... */

/* ..........................................Section Eight.............................................. */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-8 {
  padding: 3rem;
}

.sec-8 .header {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.sec-8 .header h5 {
  color: #fb5b21;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.sec-8 .header h1 {
  font-size: calc(1.525rem + 3.3vw);
  line-height: 1.2;
}

.sec-8 .container {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(3rem * -1);
  margin-right: calc(3rem / -2);
  margin-left: calc(3rem / -2);
}

.sec-8 .container .box {
  width: calc(100% / 3);
  padding: 0 1.5rem;
  margin-top: 3rem;
}

.sec-8 .container .box .img {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  position: relative;
  overflow: hidden;
}

.sec-8 .container .box .img img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
  vertical-align: middle;
}

.sec-8 .container .box .mini-box:hover .img img {
  transform: scale(1.2);
}

.sec-8 .container .box .foot {
  background-color: #222429;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.sec-8 .container .box .foot .date {
  color: #bdbdbf;
  text-align: center;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #dee2e6;
}

.sec-8 .container .box .foot .date h6 {
  color: #fb5b21;
  text-transform: uppercase;
  font-size: 1rem;
}

.sec-8 .container .box .foot a {
  color: #f4f5f8;
  text-decoration: none;
  line-height: 1.5;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* ..........................................Section Eight End.......................................... */

/* ............................................Instagram................................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.instagram {
  margin-top: 3rem;
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.instagram a {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%) !important;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  text-decoration: none;
}

.instagram a i {
  color: #bdbdbf;
  font-size: 2rem;
}

.instagram .container {
  display: flex;
  flex-wrap: wrap;
}

.instagram .container .img {
  width: calc(100% / 6);
}
.instagram .container .img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: 0.5s;
}

.instagram .container .img img:hover {
  opacity: 0.9;
}

/* ..........................................Instagram End.............................................. */

/* ..........................................Befor Footer............................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.before-footer {
  background-color: #222429;
  color: #bdbdbf;
  padding-right: 2rem;
  padding-left: 2rem;
}

.before-footer .container {
  display: flex;
  flex-wrap: wrap;
}

.before-footer .container .left,
.before-footer .container .right {
  padding-right: calc(3rem / 2);
  padding-left: calc(3rem / 2);
  width: calc(100% / 4);
}

.before-footer .container .left {
  flex: 7;
}
.before-footer .container .right {
  flex: 3;
}

.before-footer .container .left .boxses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.before-footer .container .left .boxses .box {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.before-footer .container .left .boxses .box h3 {
  text-transform: capitalize;
  color: #f4f5f8;
  margin-bottom: 1.5rem;
  font-size: calc(1.3rem + 0.6vw);
}

.before-footer .container .left .boxses .box .address {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.before-footer .container .left .boxses .box .address i {
  color: #fb5b21;
  margin-right: 0.5rem;
}

.before-footer .container .left .icons {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.before-footer .container .left .icons a {
  margin-right: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: white;
  transition: 0.5s;
  border-radius: 50%;
  background-color: #fb5b21;
  border-color: #fb5b21;
  text-decoration: none;
  font-size: 1rem;
}

.before-footer .container .left .icons a i {
  transition: 0.5s;
}

.before-footer .container .left .icons a:hover i {
  color: #000;
}

.before-footer .container .left .nav {
  display: flex;
  flex-direction: column;
}

.before-footer .container .left .nav a {
  text-decoration: none;
  margin-bottom: 0.5rem;
  color: #bdbdbf;
}
.before-footer .container .left .nav a i {
  color: #fb5b21;
  margin-right: 0.5rem;
}

.before-footer .container .right .box {
  background-color: #111111;
  padding: 3rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.before-footer .container .right .box h3 {
  text-transform: capitalize;
  color: #f4f5f8;
  margin-bottom: 1.5rem;
  font-size: calc(1.3rem + 0.6vw);
}
.before-footer .container .right .box h4 {
  text-transform: uppercase;
  color: #f4f5f8;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.before-footer .container .right .box p {
  font-size: 0.875em;
  margin-bottom: 1rem;
}
.before-footer .container .right .box form .inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.before-footer .container .right .box form .inputs input {
  position: relative;
  flex: 3 1 auto;
  width: 1%;
  min-width: 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.before-footer .container .right .box form .inputs button {
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: white;
  background-color: #fb5b21;
  border-color: #fb5b21;
  transition: 0.5s;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: "Emblema One", system-ui;
  flex: 2;
  outline: none;
}

.before-footer .container .right .box form .inputs button:hover {
  color: #000;
}

/* ......................................before Footer End.............................................. */

/* .............................................Footer.................................................. */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

footer {
  background-color: #111111;
  padding-right: 3rem;
  padding-left: 3rem;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(1rem + 0.3vw);
  text-align: center;
}

footer .container .left,
footer .container .right {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: calc(100% / 3);
  line-height: 0;
}
footer .container .left {
  flex: 2;
}
footer .container .right {
  flex: 1;
}

footer .container div,
footer .container div {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
footer .container div p {
  color: #bdbdbf;
}
footer .container div a {
  color: #f4f5f8;
  font-weight: 700;
  text-decoration: none;
}

/* .............................................Button.................................................. */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

#button {
  /* display: inline !important; */
  display: none;
  position: fixed;
  display: none;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  border-radius: 0px;
  font-family: "Emblema One", system-ui;
  transition: 0.5s;
  font-size: calc(1.275rem + 0.3vw) !important;
  padding: 2.2rem 1.2rem;
  color: #fff;
  background-color: #fb5b21;
  border-color: #222429;
}
