* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
/* .............................................................Delete Later */
h1,
h2,
h3,
.font-heading {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

h4,
h5,
h6,
body {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* ................................................Header............................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
.sec-1 {
  background-color: #222429;
  margin-bottom: 3rem;
}

header {
  background-color: antiquewhite;
  height: 150px;
}

header .box-header {
  display: flex;
  align-items: center;
}

header .logo {
  background-color: #fb5b21;
  flex: 1;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo a {
  text-decoration: none;
  font-family: "Emblema One", system-ui;
}

header .logo a h1 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 3.3rem;
}

header nav {
  display: flex;
  flex-direction: column;
  flex: 3;
  color: white;
}

header nav .up-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #222429;
}

header nav .up-nav .email {
  margin-left: 3rem;
  color: #686a5d;
}
header nav .up-nav .email i {
  margin-right: 0.3rem;
  color: #fb5b21;
}

header nav .up-nav .tel {
  margin-right: 3rem;
  color: #686a5d;
}
header nav .up-nav .tel i {
  margin-right: 0.5rem;
  color: #fb5b21;
}

header nav .down-nav {
  background-color: #111111;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .ul {
  margin-left: 3rem;
  height: 110px;
  display: flex;
  align-items: center;
}

header .ul a:nth-child(1) {
  color: #fb5b21;
}

header .ul a {
  height: 110px;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: #bdbdbf;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

header .ul a:hover {
  color: #fb5b21;
}

header .ul #page::after {
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  border-left: 0.3em solid rgba(0, 0, 0, 0);
}

header .ul #page {
  position: relative;
}
/* header .ul #page:hover .bu {
  transform: rotateX(0deg);
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
} */
header .ul #page .bu.hover {
  transform: rotateX(0deg);
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
}

header .ul #page .bu {
  display: block;
  visibility: hidden;
  top: 100%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
  transition: 0.5s;
  opacity: 0;

  position: absolute;
  left: 0;
  top: 110px;

  list-style: none;
  background-color: white;
  color: black;
  padding: 10px;
}

header .ul #page .bu li {
  font-size: 1rem;
}

header nav .down-nav .icon {
  margin-right: 10px;
}

header nav .down-nav span {
  padding-right: 10px;
}

header nav .down-nav .icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5rem;
  width: 100px;
}

header nav .down-nav .icon span i {
  border: 1px solid #bdbdbf;
  color: #bdbdbf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header nav .down-nav .icon span i:hover {
  background-color: #ccc;
  color: black;
}

header button span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org…dth='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 100px;
  height: 100px;
}

/* ..............................................Section One............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
.sec-1 .container {
  padding: 3rem;
}
.sec-1 .container .mini-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.sec-1 .h-1 {
  width: calc(100% / 1);
}

.sec-1 .h-1 h1 {
  font-size: 7rem;
  text-align: center;
  font-family: "Emblema One", system-ui;
  padding: 0 rem;
  margin-top: 3rem;
  color: #bdbdbf;
}

.sec-1 .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.sec-1 .box-1,
.sec-1 .box-2,
.sec-1 .box-3 {
  width: calc(100% / 4);
  height: 500px;
}

.sec-1 .box-1,
.sec-1 .box-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.sec-1 .box-1 img {
  margin-bottom: 1rem;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  max-width: 100%;
  height: auto;
}

.sec-1 .box-1 .icon {
  height: 4.5rem;
  margin-bottom: 1rem;
}

.sec-1 .box-1 .icon i {
  font-size: 3rem;
}

.animate-up-down {
  position: relative;
  animation: animateUpDown 1s ease infinite;
}

@keyframes animateUpDown {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

.sec-1 .box-1 .icon i,
.sec-1 .box-1 p {
  color: #bdbdbf;
}
.sec-1 .box-1 p {
  line-height: 1.6;
}

.sec-1 .box-2 {
  padding-left: 3rem;
  padding-right: 3rem;
  flex: 1;
}

/* .sec-1 .box-2 .img {
  height: 100%;
} */

.sec-1 .box-2 .img img {
  min-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.sec-1 .box-3 .icon i,
.sec-1 .box-3 p {
  color: #bdbdbf;
}
.sec-1 .box-3 p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.sec-1 .box-3 img {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  max-width: 100%;
  height: auto;
}

.sec-1 .box-3 .icon {
  height: 4.5rem;
  margin-bottom: 1rem;
}

.sec-1 .box-3 .icon i {
  font-size: 3rem;
}

/* .............................................Section One End......................................... */

/* ..............................................Section Two............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-2 {
  padding: 3rem;
}
.sec-2 .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .sec-2 .container {
  height: 600px;
} */

/* .sec-2 .container .right .top,
.sec-2 .container .right .center,
.sec-2 .container .right .bottom {
  height: calc(100% / 3);
} */

/* .sec-2 .container .left,
.sec-2 .container .right {
  height: 100%;
} */
.sec-2 .container .left {
  flex: 2;
  padding: 0 3rem;
  display: flex;
}

.sec-2 .container .left .img-1 {
  width: 160px;
  height: 160px;
}

.animate-rotate {
  position: absolute;
  animation: animateRotate 8s linear infinite;
}

@keyframes animateRotate {
  100% {
    transform: rotate(360deg);
  }
}

.sec-2 .container .left .box-img {
  /* height: 100%; */
  min-height: 500px;
}

.sec-2 .container .left .img-2 {
  max-width: 100%;
  height: 100%;
  object-fit: cover;

  border-top-left-radius: 50%;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;

  position: relative;
}

.sec-2 .container .right .top,
.sec-2 .container .right .center {
  flex: 1;
}
.sec-2 .container .right {
  flex: 3;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.sec-2 .container .right .top,
.sec-2 .container .right .center {
  margin-bottom: 1.5rem;
}

.sec-2 .container .right .top h5 {
  color: #fb5b21;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.25rem;
}
.sec-2 .container .right .top h1 {
  font-size: calc(1rem + 3.3vw);
  font-weight: 400;
  line-height: 1.2;
}

.sec-2 .container .right p {
  color: rgba(0 0 0/50%);
  line-height: 1.4;
  font-size: 1.1rem;
}

.sec-2 .container .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex: 5;
}

.sec-2 .container .bottom .box-1,
.sec-2 .container .bottom .box-2 {
  background-color: #f4f5f8;
  width: calc(95% / 2);
  border-radius: 0.5rem;
  padding: 1.5rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sec-2 .container .bottom .inside-box {
  display: flex;
  flex-direction: column;
}

.sec-2 .container .bottom .inside-box img {
  width: 80px;
  height: 80px;
  background-color: #fb5b21;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.sec-2 .container .bottom .inside-box h4 {
  font-size: calc(1.275rem + 0.3vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

/* .............................................Section Two End......................................... */

/* ............................................Section Three............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-3 {
  background-color: #222429;
  margin: 3rem 0;
  padding: 3rem;
}

.sec-3 .container {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sec-3 .container .box-1,
.sec-3 .container .box-2,
.sec-3 .container .box-3,
.sec-3 .container .box-4 {
  padding: 0 3rem;
  margin-top: 1.5rem;
  visibility: visible;
  animation-delay: 0.1s;
  animation-name: fadeIn;
}

.sec-3 .container .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: calc(100% / 4); */
}

.sec-3 .container .box .icon {
  width: 80px;
  height: 80px;
  background: #111111;
  margin-bottom: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3 .container .box .icon i {
  color: #fb5b21;
  font-size: calc(1.275rem + 0.3vw) !important;
  font-weight: bold;
}

.sec-3 .container .box .para {
  padding-left: 1.5rem;
  line-height: 1;
}
.sec-3 .container .box .para h5 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
}
.sec-3 .container .box .para h1 {
  color: #bdbdbf;
  margin-bottom: 0;
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 400;
  line-height: 1.2;
}

.omar {
  visibility: visible;
  animation-delay: 0.1s;
  animation-name: fadeIn;
}

/* ...........................................Section Three End......................................... */

/* ............................................Section Four............................................ */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */
/* ..................................................................................................... */

.sec-4 {
  padding: 3rem;
  position: relative;
  margin-bottom: 135px;
}

.sec-4 .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc (3rem * -1);
  margin-right: calc (3rem / -2);
  margin-left: calc (3rem / -2);
}

.sec-4 .container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 120px);
  top: 185px;
  left: 0px;
  z-index: -1;
  background: #222429;
}

.sec-4 .container .box-1,
.sec-4 .container .box-2,
.sec-4 .container .box-3 {
  padding-right: calc(3rem / 2);
  padding-left: calc(3rem / 2);
  margin-top: 3rem;
  width: calc(100% / 3);
}

.sec-4 .container .box {
  background: linear-gradient(#f4f5f8 50%, #222429);
  text-align: center;
  border-radius: 8px;
  padding: 3rem;
}

.sec-4 .container img {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  max-width: 100%;
}

.sec-4 .container h3 {
  font-size: calc(1.3rem + 0.6vw);
  margin: 1.5rem 0;
}

.sec-4 .container p {
  color: #f4f5f8;
  margin-bottom: 1rem;
}

.sec-4 .container a {
  letter-spacing: 1px;
  color: #fb5b21;
  text-decoration: none;
  transition: all 0.5s;
}

.sec-4 .container a:hover {
  color: #c9491a;
}

.sec-4 .container .disccount {
  text-align: center;
  padding-right: calc(3rem / 2);
  padding-left: calc(3rem / 2);
  /* margin-top: 3rem; */
  margin: 3rem auto 0 auto;
}

.sec-4 .container .disccount h1 span {
  color: #fb5b21;
  font-size: calc(1.475rem + 2.7vw);
  line-height: 1.2;
}

.sec-4 .container .disccount h1 {
  color: #bdbdbf;
  margin-bottom: 1.5rem;
  font-size: calc(1.475rem + 2.7vw);
  line-height: 1.2;
}

.sec-4 .container .disccount a {
  color: white;
  font-family: "Emblema One", system-ui;
  transition: 0.5s;
  padding: 1rem 3rem;
  background-color: #fb5b21;
  border-color: #fb5b21;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 1rem;
  border-radius: 8px;
}

.sec-4 .container .disccount a:hover {
  color: #111111;
}
