body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url(imgs/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

header .div-h-1 {
  /* background-color: white; */
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100000;
}

header .div-h-2 {
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.55);
  width: 80%;
  height: 60%;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .logo {
  /* background-color: antiquewhite; */
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
header .logo img {
  filter: brightness(0) invert(1);
  width: 48px;
}

header .logo .link-logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  margin-left: 10px;
  color: white;
}

header .nav-link {
  /* background-color: wheat; */
  width: 83%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 75%;
  margin-right: -55px;
}

header .nav-link ul li {
  padding-left: 40px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.5s;
}

/* header .nav-link .div-h-3 {
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
} */
header .nav-link .link-logo-2 {
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  transition: 0.5s;
}

header .nav-link ul li:hover {
  color: #dda15e;
}
/*
header .nav-link .div-h-3:hover {
  background-color: white;
}

header .nav-link .div-h-3 .link-logo-2:hover {
  color: #dda15e;
  background-color: white;
  
} */

/* header .nav-link .div-h-3:hover,
header .nav-link .div-h-3:hover .link-logo-2 {
  background-color: white;
  color: #dda15e;
  transition: all 0.5s;
} */

header .nav-link .link-logo-2:hover {
  background-color: white;
  color: #dda15e;
}

header .overlay-1 {
  background-color: rgb(0 0 0 / 70%);
  width: 350px;
  height: 220px;
  position: relative;
  left: 52%;
  top: 54%;
  transform: translate(-50%, -50%) rotate(135deg);
  /* margin: 60px auto auto auto; */
  border-radius: 10px;
}
header .overlay-para-1 {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
}

header .overlay-para-1 .top {
  color: #92713e;
  margin: 0 0 0 90px;
}
header .overlay-para-1 h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 0 58px;
}

header .overlay-para-1 .bottom {
  color: #f6f6f6;
  margin: 15px 0 30px 40px;
  font-size: 18px;
}

header .overlay-para-1 .button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  gap: 15px;
  margin-left: 50px;
}

header .overlay-para-1 .button .left {
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
header .overlay-para-1 .button .left:hover {
  color: #dda15e;
  background-color: white;
}
header .overlay-para-1 .button .right {
  color: white;
  background-color: #bc6c25;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
header .overlay-para-1 .button .right:hover {
  background-color: #dda15e;
}

.sec-1 {
  background-color: #4d3821;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1 .div-1 {
  /* background-color: aqua; */
  width: 85%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-1 .div-1 .left {
  /* background-color: red; */
  width: 48%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.sec-1 .div-1 .left::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  position: absolute;
  background-color: rgb(119 65 31/60%);
  border-radius: 20px;
}

.sec-1 .div-1 .left video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
}
.sec-1 .div-1 .left .h {
  position: relative;
  bottom: 140px;
  left: 45px;
  z-index: 101;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.sec-1 .div-1 .left .h h4 {
  margin: 10px 0 10px 0;
}

.sec-1 .div-1 .right {
  /* background-color: red; */
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.sec-1 .div-1 .right .right-indside {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
.sec-1 .div-1 .right .right-indside em {
  color: white;
  margin: 0;
}
.sec-1 .div-1 .right .right-indside h2 {
  color: white;
  margin: 0 0 15px 0;
  font-size: 46px;
}

.sec-1 .div-1 .right .right-indside .para-1 {
  color: white;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 300;
}
.sec-1 .div-1 .right .right-indside .para-2 {
  color: white;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 300;
}
.sec-1 .div-1 .right .right-indside .para-3 {
  color: white;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 300;
}
.sec-1 .div-1 .right .right-indside .para-4 {
  color: white;
  margin: 0 0 60px 0;
  font-size: 20px;
  font-weight: 300;
}
.sec-1 .div-1 .right .right-indside .para-2 a {
  color: #bc6c25;
  text-decoration: none;
}
.sec-1 .div-1 .right .right-indside .para-2 a:hover {
  color: #e76f51;
}
.sec-1 .div-1 .right .right-indside .button {
  margin: 0 auto 0 auto;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.5s;
}

.sec-1 .div-1 .right .right-indside .button:hover {
  color: #dda15e;
  background-color: white;
}

/* ..............................Section-Two.......................... */
/* .sec-2 {
  background-color: #dda15e;
  height: 120vh;

  padding: 100px;
}

.sec-2 .div-1 {
  background-color: antiquewhite;


  width: 100%;
  height: 100%;
}

.sec-2 .div-2 {
  text-align: center;
  padding: 10px 0;
}

.sec-2 .div-2 em {
  color: white;
}
.sec-2 .div-2 h2 {
  color: white;
  font-size: 46px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}

.sec-2 .div-3 {
  width: 95%;
  height: 70%;
  margin: 0 auto;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sec-2 .div-3 .div-one {
  background-color: red;
  width: 24%;
  height: 90%;
}
.sec-2 .div-3 .div-two {
  background-color: red;
  width: 24%;
  height: 90%;
}
.sec-2 .div-3 .div-three {
  background-color: red;
  width: 24%;
  height: 90%;
}
.sec-2 .div-3 .div-four {
  background-color: red;
  width: 24%;
  height: 90%;
}

.sec-2 .div-3 .div-one-1 {
  background-image: url(imgs/team/portrait-elegant-old-man-wearing-suit.jpg);
  background-size: cover;
  max-width: 100%;
  height: 100%;
  position: relative;
}
.sec-2 .div-3 .div-one-2 {
  background-image: url(imgs/team/cute-korean-barista-girl-pouring-coffee-prepare-filter-batch-brew-pour-working-cafe.jpg);
  background-size: cover;
  max-width: 100%;
  height: 100%;
  position: relative;
}
.sec-2 .div-3 .div-one-3 {
  background-image: url(imgs/team/small-business-owner-drinking-coffee.jpg);
  background-size: cover;
  max-width: 100%;
  height: 100%;
  position: relative;
}
.sec-2 .div-3 .div-one-4 {
  background-image: url(imgs/team/smiley-business-woman-working-cashier.jpg);
  background-size: cover;
  max-width: 100%;
  height: 100%;
  position: relative;
}
.sec-2 .div-3 .div-one-1-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 0;
  bottom: -306px;
  color: red;
}
.sec-2 .div-3 .div-one-1-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 0;
  bottom: -306px;
  color: red;
}

.sec-2 .div-3 .div-one-1-1 p {
  background-color: #b24400;
  color: white;
  padding: 5px 10px;
  border-radius: 21px 0px 21px 0px;
  font-weight: bold;
}

.sec-2 .div-3 .para-1 {
  position: relative;
  left: 0;
  bottom: -286px;
  color: red;
  width: 60%;
  height: 20%;
  text-align: center;
  margin: 10px auto;
  line-height: 1.6;
}

.sec-2 .div-3 .div-one ::before,
.sec-2 .div-3 .div-two ::before,
.sec-2 .div-3 .div-three ::before,
.sec-2 .div-3 .div-four ::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(188, 108, 37, 1)
  );
  border-radius: 20px;
} */

/* ............Section Two ............ */

.sec-2 {
  background-color: #b78752;
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-2 .big-box {
  width: 82%;
  height: 70%;
}

.sec-2 .big-box .header {
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.sec-2 .big-box .header h2 {
  margin: 5px 0 0 0;
  font-size: 46px;
  font-weight: bold;
}

.sec-2 .big-box .box-img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.sec-2 .big-box .box-img .box-img-container {
  width: 23%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.sec-2 .big-box .box-img .box-img-container .header-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 27px;
  bottom: 65px;
  position: absolute;
  z-index: 100000;
  gap: 20px;
  color: white;
  font-weight: bold;
}

.sec-2 .big-box .box-img .box-img-container .header-img h4 {
  font-size: 28px;
}

.sec-2 .big-box .box-img .box-img-container .header-img p {
  font-size: 12px;
  font-style: italic;
  background-color: #bc6c25;
  padding: 3px 10px;
  border-radius: 21px 0px 21px 0px;
}

.sec-2 .big-box .box-img .box-img-container .para-out {
  position: absolute;
  z-index: 100000;
  left: 25px;
  bottom: 8px;
  width: 80%;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.6;
  color: white;
}

/* .sec-2 .big-box .box-img .box-img-container .header-img p::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 8px;
  top: 39px;
  bottom: 0;
  left: 95px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #bc6c25;
} */

.sec-2 .big-box .box-img .box-img-container .overlay {
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}
.sec-2 .big-box .box-img .box-img-container img {
  width: 100%;
  height: 100%;
}
.sec-2 .big-box .box-img .box-img-container .overlay::before {
  content: " ";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(188, 108, 37, 1)
  );

  border-radius: 20px;
}

.sec-2 .big-box .box-img .box-img-container .overlay {
  transition: 0.5s;
}

.sec-2 .big-box .box-img .box-img-container:hover .overlay {
  transform: scale(1.2);
}
