body {
  overflow: hidden;
}
div {
  background-color: #eee;
  font-size: 30px;
  width: 500px;
  margin: 20px 0;
  padding: 20px;
}

.three {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
}

.three:hover {
  white-space: wrap;
  overflow: visible;
  width: 100%;
  height: 200px;
}
