:root {
  --mainColor: #009688;
  --mainPadding: 10px;
  --mainMargin: 10px;
}

div {
  width: 600px;
  color: var(--mainColor, red);
  border: 2px solid var(--mainColor, black);
  padding: var(--mainPadding, 20px);
  margin: var(--mainMargin, 20px);
}
