div {
  width: 400px;
  height: 400px;
  background-color: #ccc;
  color: white;
  margin: 10px 0;
}

.assign-2-shape-1 {
  background-image: url(img/img1.png);
  background-repeat: no-repeat;
}
.assign-2-shape-2 {
  background-image: url(img/img1.png);
  background-repeat: repeat-y;
  background-position: right;
}
.assign-2-shape-3 {
  background-image: url(img/img1.png);
  background-repeat: repeat-x;
  background-position: 0% 100%;
}
.assign-2-shape-4 {
  background-image: url(img/img1.png);
}
