div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.green {
  background-color: green;
  margin-top: 10px;
  margin-left: 10px;
}

.red {
  background-color: red;
  margin-top: 20px;
  margin-left: 20px;
}

.blue {
  background-color: blue;
  margin-top: 30px;
  margin-left: 30px;
}

.black {
  background-color: black;
  margin-top: 40px;
  margin-left: 40px;
}
