.parent {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 600px;
  margin: 0 auto;
  border-radius: 6px;
}

.html,
.css,
.js {
  background-color: #eee;
  list-style-position: outside;
  border-radius: 6px;
}

li {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.css ol {
  list-style-type: upper-roman;
}

.js ul {
  padding: 0;
}

.js ul li {
  list-style-position: inside;
}
