div {
  width: 400px;
  background-color: #eee;
  padding: 20px;
  border-color: red #2196f3;
  border-width: 2px;
  border-style: solid;
  position: relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

span {
  background-color: #2196f3;
  padding: 5px 10px;
  position: absolute;
  border-radius: 4px;
}

.top-left {
  border-right: 2px solid red;
  left: -15px;
  top: -15px;
}
.bottom-left {
  border-right: 2px solid red;
  left: -15px;
  bottom: -15px;
}

.top-right {
  border-left: 2px solid red;
  right: -15px;
  top: -15px;
}
.bottom-right {
  border-left: 2px solid red;
  right: -15px;
  bottom: -15px;
}
